@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  /* Prevent scrolling */
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  /* Prevent iOS elastic bounce */
  touch-action: none;
  /* unexpected pinch/zoom */
}